name: WF Run
on:
  workflow_run:
    workflows:
      - Test workflow
    types:
      - requested
      - completed
jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - run: |
        echo "name          = '${{ github.event.workflow_run.name }}'"
        echo "display_title = '${{ github.event.workflow_run.display_title }}'"
